$dir: 						    	"../images/";
$dir-fonts: 				  		"../fonts/";

$html-size-base: 					10px;

$fs: 						      	1.6rem;
$h1: 						      	6.5rem;
$h2: 						      	5rem;
$h3: 						      	3rem;
$h4: 						      	2.2rem;
$h5: 						      	1.8rem;
$h6: 						      	$fs;

$font-family: 						'Rubik', sans-serif;

$white: 							#fff;
$black: 							#000;
$grey: 								#504f4f;
$pink: 								#9b1a48;
$blue: 								#22aaba;
$green: 							#1db567;
$yellow:							#d9da48;

$text-color: 						$grey;
$text-margin: 						0 0 1rem;

$mobile-width: 						320px;
$tablet-width: 						768px;
$desktop-width: 					992px;
$desktop-xl-width: 					1200px;