@import url(https://fonts.googleapis.com/css?family=Rubik:400,400italic,300,700);

html {
	box-sizing: border-box;
	font-size: $html-size-base;
}
*, *::after, *::before {
  box-sizing: inherit;
}
body {
	min-width: 32rem;
	font-family: $font-family;
	background: $white;
	overflow-x: hidden;
}

.nopadding {
	@include desktop {
		padding: 0 !important;
		margin: 0 !important;
	}
}

.cases, .contacts, .footer {
	&:before {
		position: absolute;
		display: block;
		content: "";
		top: -5rem;
		height: 10rem;
		border-radius: 50%;

		@include mobile {
			width: 120%;
			left: -10%;
		}
		@include tablet {
			width: 110%;
			left: -5%;
		}
		@include desktop {
			width: 104%;
			left: -2%;
		}
	}
}

.show {
	display: block !important;
	opacity: 1 !important;
}
.hide {
	opacity: 0;
}